.left {
  border-right: 1px solid black;
}
.mid {
  border-right: 1px solid black;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
}

.tab-button {
  padding: 10px 20px;
}

.tab-icon {
  margin-right: 25px;
}
